extends layout

block head
  style
    label { display: block; }

block content
  form(method='post')
    label
      | description
      textarea(name='desc')
    label
      | content
      textarea(name='html')
    label
      | username: test~
      input(name='user',required)
    label
      | WHAT IS THE PASSWORD?
      input(name='password',required)
    input(type='hidden',name='source',value='testform')
    input(type='submit')
